http://app.absenta.id {
    reverse_proxy /api/* localhost:3003
    reverse_proxy /* localhost:5175
    encode gzip zstd
}

https://app.absenta.id {
    reverse_proxy /api/* localhost:3003
    reverse_proxy /* localhost:5175
    encode gzip zstd
    tls {
        dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
    }
}
